In [1]:
#Load libraries
import pandas as pd
import numpy as np

In [2]:
#Read data to DataFrame
df = pd.read_json('currencies.json')

In [ ]:
#Let's get a sense of the data
df.head()

In [ ]:
#DataFrame structure
df.info()

In [3]:
#Clean market rank variable
df['market_rank'] = (
df['market_rank']
    .str.replace('#','')
    .astype(int)
)

#Clean day close variable
df['day_close'] =  (
df['day_close']
    .str.replace(',','')
    .astype(float)
)
#Check results
df.head()

,date,day_close,day_high,day_low,day_market_cap,day_open,day_volume,long_name,market_rank,short_name
0,2019-04-09,0.000049,0.000049,0.000037,"1,296,018",0.000042,225,Elite,1262,(1337)
1,2019-04-08,0.000042,0.000046,0.000039,"1,108,819",0.000043,162,Elite,1262,(1337)
2,2019-04-09,0.331090,0.335818,0.259410,-,0.262610,"18,090",1irstcoin,1977,(FST)
3,2019-04-09,0.725394,0.733987,0.717767,-,0.725590,"7,063",1SG,2009,(1SG)
4,2019-04-09,0.177210,0.204110,0.160943,-,0.177008,"4,125",COIN,2023,(1X2)

In [12]:
#Sort DataFrame
df.sort_values(['long_name', 'date'], inplace = True)
df.head()

,date,day_close,day_high,day_low,day_market_cap,day_open,day_volume,long_name,market_rank,short_name
358054,2016-12-21,0.200227,0.241359,0.193227,-,0.222805,"6,934",(Special),2024,(PCS)
358048,2016-12-22,0.259450,0.259450,0.184680,-,0.200203,"11,102",(Special),2024,(PCS)
358042,2016-12-23,0.213900,0.273139,0.205302,-,0.259458,503,(Special),2024,(PCS)
358036,2016-12-24,0.209902,0.252037,0.207172,-,0.213946,336,(Special),2024,(PCS)
358030,2016-12-25,0.239621,0.239813,0.201406,-,0.210096,44,(Special),2024,(PCS)

In [13]:
#Take first differnces
df['close_diff'] = df.groupby(['long_name'])['day_close'].transform(lambda x: x.diff())
df.head()

,date,day_close,day_high,day_low,day_market_cap,day_open,day_volume,long_name,market_rank,short_name,close_diff
358054,2016-12-21,0.200227,0.241359,0.193227,-,0.222805,"6,934",(Special),2024,(PCS),NaN
358048,2016-12-22,0.259450,0.259450,0.184680,-,0.200203,"11,102",(Special),2024,(PCS),0.059223
358042,2016-12-23,0.213900,0.273139,0.205302,-,0.259458,503,(Special),2024,(PCS),-0.045550
358036,2016-12-24,0.209902,0.252037,0.207172,-,0.213946,336,(Special),2024,(PCS),-0.003998
358030,2016-12-25,0.239621,0.239813,0.201406,-,0.210096,44,(Special),2024,(PCS),0.029719

In [15]:
#Create example df
bitcoin_df = df.loc[df['long_name'] == 'Bitcoin']
bitcoin_df.head()

,date,day_close,day_high,day_low,day_market_cap,day_open,day_volume,long_name,market_rank,short_name,close_diff
219362,2016-07-25,0.000589,0.000591,0.000588,-,0.000590,186,Bitcoin,2064,(BIT),NaN
219354,2016-07-26,0.000590,0.000590,0.000581,-,0.000589,2,Bitcoin,2064,(BIT),1.000000e-06
219345,2016-07-27,0.000393,0.000394,0.000389,-,0.000390,2,Bitcoin,2064,(BIT),-1.970000e-04
219336,2016-07-28,0.000394,0.000394,0.000393,-,0.000393,2,Bitcoin,2064,(BIT),1.000000e-06
219328,2016-07-30,0.000681,0.000685,0.000401,-,0.000401,9,Bitcoin,2064,(BIT),2.870000e-04